.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 11em;
  padding: 0.75em;
  text-decoration: none;
  overflow: hidden;
}

.card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  z-index: 0;
  transform: scale(0.8);
  filter: brightness(0.5) drop-shadow(0 0 5px var(--CL-neutral-white));
}

.card-actions,
.card-data {
  position: relative;
  z-index: 100;
  text-align: right;
  color: var(--CL-neutral-white);
}

.card-button {
  font-size: 1.5rem;
  padding: 0;
  color: var(--CL-neutral-white);
}

.card-data > * {
  margin: 0;
}

.card-title {
  font-weight: bold;
  font-size: 1.35rem;
}

.card-count {
  font-size: 1rem;
  text-align: right;
}
