.detail {
  background-color: var(--CL-primary-blue);
}

.detail-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5em 1em;
}

.detail-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.detail-image {
  object-fit: contain;
  height: 12em;
  margin: 0 auto;
  filter: drop-shadow(0 0 15px black);
}

.detail-title,
.detail-actions {
  margin: 0;
  color: var(--CL-neutral-white);
}

.detail-actions {
  display: flex;
  gap: 0.25em;
}

.detail-title {
  font-size: 1.75rem;
}

/* Card */

.detail-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--CL-neutral-white);
  padding: 0.25em 1em;
}

.detail-card .title {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.detail-card .actions {
  display: inherit;
  align-items: inherit;
  padding: 0;
  gap: 0.5em;
}

.detail-card .button {
  padding: 0;
}

@media (min-width: 768px) {
  .detail-content {
    padding: 5em 0;
  }

  .detail-card {
    padding: initial 0em;
  }

  .detail-image {
    height: 30em;
  }

  .detail-title {
    font-size: 10rem;
  }

  .detail-actions {
    font-size: 3rem;
  }
}
